<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Odisseus Propulsion Control</title>
</head>
<body>
    <h1>Odisseus Propulsion Control</h1>

    <div>
        <h2>Main Camera View</h2>
    </div>
    <div>
        <h2>Propulsion Control</h2>

        <form>

            <h3>Speed: </h3>
            <h3>Direction: </h3>
             <select>
                <option value="volvo">Forward</option>
                <option value="mercedes">Turn Left</option>
                <option value="audi">Turn Right</option>
                <option value="saab">Reverse</option>
                <option value="saab">Stop</option>
            </select>

        </form>

    </div>
</body>
</html>