<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Odisseus Propulsion Control</title>
</head>
<body>
    <h1>Odisseus Propulsion Control</h1>

    <a href="{{ url_for('index') }}" >Home</a>

    <div>
        <h2>Main Camera View</h2>
    </div>
    <div>
        <h2>Propulsion Control</h2>

        <div>
            <h3>Instructions</h3>
            <p>Control the motion of Odisseus from the panel below.</p>
        </div>

        <form method="POST" action="{{ url_for('propulsion_control_view') }}">

            <h3>Speed: </h3>
             <select name="speed">
                <option value="select">Select</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="80">80</option>
                <option value="90">90</option>
                <option value="100">100</option>
            </select>
            <h3>Direction: </h3>
             <select name="direction">
                <option value="select">Select</option>
                <option value="FWD">Forward</option>
                <option value="LEFT">Turn Left</option>
                <option value="RIGHT">Turn Right</option>
                <option value="REVERSE">Reverse</option>
                <option value="STOP">Stop</option>
            </select>

            <h3>Duration ( in seconds that the CMD should be executed ) : </h3>
            <input type="number" name="duration"><br>

            <br>
            <button type="submit" >Submit</button>

        </form>
    </div>

       <div>
        <h2>Main Control Items</h2>
        <a href="{{ url_for('control', control_name='propulsion') }}" >Propulsion Control</a>
        <a href="{{ url_for('control', control_name='interrupt') }}" >Interrupt ( stops the process Odisseus is attached on )</a>
        <a href="{{ url_for('control', control_name='start') }}" >Start ( starts a new process for Odisseus )</a>
    </div>
</body>
</html>